  #Navbar{
      height: auto;
      line-height: 100%;
      max-width: 1400px;
      padding: 10px;
  }

  #install{
    border-radius: 25px;
  }

  .column {
    float: left;
    width: 50%;
  }

  #FirstImage{
    border-radius: 50%;
    height: auto;
  }

  #picture{
      width: 100%;
  }

  #jumplink{
    padding-top: 100px;
    padding-bottom: 100px;
  }





  /* #NavButtons{
    display: inline-block;
    vertical-align: middle;
  } */