  #Navbar{
      height: auto;
      max-width: 1400px;
      padding: 10px;
  }

  #install{
    border-radius: 25px;
  }

  .column {
    float: left;
    width: 50%;
  }

  #FirstImage{
    border-radius: 50%;
  }

  #picture{
      width: 100%;
  }




  /* #NavButtons{
    display: inline-block;
    vertical-align: middle;
  } */